<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--  AllGamesCoinLib settings start -->

    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <!-- Shared RPC settings end -->

    <!-- AllGamesCoin settings start -->
    <add key="AllGamesCoin_DaemonUrl" value="http://localhost:7207" />
    <add key="AllGamesCoin_DaemonUrl_Testnet" value="http://localhost:17207" />
    <add key="AllGamesCoin_WalletPassword" value="MyWalletPassword" />
    <add key="AllGamesCoin_RpcUsername" value="MyRpcUsername" />
    <add key="AllGamesCoin_RpcPassword" value="MyRpcPassword" />
    <!-- AllGamesCoin settings end -->

    <!-- Demo client settings start -->
    <add key="ExtractMyPrivateKeys" value="false" />
    <!-- Demo client settings end -->

    <!--  AllGamesCoinLib settings end -->

  </appSettings>
</configuration>